<template>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Windows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rooms</a>
    </li>
  </ul>
</template>


<script>
export default {
  name: 'MainNavigation'
}
</script>
